/*
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variable.scss
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-generators";
//fixed navbar needs padding http://getbootstrap.com/components/#navbar-fixed-top
 body {
  padding-top: 60px;
 }

